* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f5f5f5;
  height: 100%;
  width: 100%;
}

header {
  grid-area: header;
  padding: 20px; 
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}
.grid-container {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-areas:
    'header header header'
    'main main main'
    'footer footer footer'
  ;
  background-color: #2196F3;
}

header{
  position: fixed;
  z-index: 1000;
  top: -80px;
  width: 100%;
  background-color: rgb(0, 48, 87);
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: top 0.3s ease-in-out;
}

header.show { /* Estilos para quando o header estiver visível */
top: 0;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

header nav ul li {
  margin: 0 10px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  position: relative;
  padding-bottom: 5px;
}

header nav ul li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background: #2196F3;
  transition: width 0.3s ease; 
}

header nav ul li a:hover::after {
  width: 100%;
}

#inicio {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/water-bg.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  padding: 100px 0;
  text-align: center;
}

#inicio .container {
  display: block;
  color: white;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0 auto;
}

#inicio .texto {
  flex: 1;
  padding: 0 20px;
}

#inicio .texto h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

#inicio .texto h2 {
  font-size: 1.5rem;
}

#inicio .texto p {
  font-size: 1rem;
  margin-bottom: 20px;
}

#inicio .botao {
  display: inline-block;
  background-color: #2196F3;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#inicio .botao:hover {
  background-color: #0b7dda;
}

#situacao {
  background-color: white;
  padding: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.imagem-container {
  background-color: #e0f2f1;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.imagem-container img {
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#situacao .texto {
  flex: 1;
  padding: 0 50px;
}

#situacao .texto h2 {
  margin-top: 30px;
  font-size: 32px;
}

#situacao .texto p {
  margin-top: 20px;
}

.card-container {
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around; 
}

.card {
  background-color: #fff; 
  border: 1px solid #ddd; 
  padding: 10px 20px; 
  margin: 5px; 
  border-radius: 5px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px; 
}

#situacao .texto button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}


#contato {
  display: flex; 
  background-color: #333; 
  color: white;
  padding: 40px;
}

.contato-info {
  flex: 1; 
  padding-right: 40px; 
}

.titulo {
  font-size: 3rem;
}

.destaque {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 30px;
}

#contactForm {
  flex: 1; 
  background-color: #609966;
  padding: 30px;
  border-radius: 10px; 
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .grid-container {
    grid-template-areas: 
      "header header"
      "main main"
      "footer footer"; /* Duas colunas para o header e footer */
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 788px){
.grid-container {
  grid-template-areas:
    'main'
    'footer';
}

#inicio {
  height: 115vh;
}


#inicio .texto h1 {
  font-size: 6rem;
  margin-bottom: 20px;
}

#inicio .texto h2 {
  font-size: 3.5rem;
}

#inicio .texto p {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

#inicio .botao {
  font-size: 3rem;
  padding: 20px 40px;
}

#situacao {
  display: block !important;
}

.imagem-container {
  max-width: 100%;
  height: auto;
}

}